<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>BeatleTrack</h1>&nbsp;<i class="fas fa-map-marked-alt"></i>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/admin/login'"> Login </a>
      <a mat-list-item [routerLink]="'/admin/feature-roup-manager'"> Gestão de Grupos </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner type="ball-atom"></ngx-spinner>
