<div class="d-flex justify-content-center w-100">
  <form
    class="pt-2"
    [formGroup]="form"
    (ngSubmit)="signIn()"
    class="d-flex flex-column">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        name="userEmail"
        formControlName="userEmail"
        required/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Senha</mat-label>
      <input
        matInput
        placeholder="Senha"
        name="userPassword"
        formControlName="userPassword"
        required/>
    </mat-form-field>
    <div>
      <button 
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid">
        Sign Up
      </button>
    </div>
  </form>
</div>
