<div class="container-fluid">
  <div class="row page-title p-4 mat-elevation-z2 d-flex flex-column">
    <h1 class="p-0 m-0">Administração</h1>
    <h3 class="p-0 m-0">Administração de grupos de funcionalidades</h3>
    <button
      type="button"
      mat-fab
      color="accent"
      class="float-bottom-button"
      (click)="onOpenModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="row">
    <div class="container pt-2 pb-2 d-flex flex-column page-content">
      <div class="col-12">
        <div class="row">
          <h2>Grupo</h2>
        </div>
        <div class="row d-flex align-items-center">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Grupo de Funcionalidades</mat-label>
              <mat-select [(ngModel)]="selectedFeatureGroup" (selectionChange)="onSelectFeatureGroup()">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let item of featureGroups" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <button
              type="button"
              class="ml-2"
              *ngIf="!!selectedFeatureGroup"
              mat-raised-button
              [matMenuTriggerFor]="menu">
              Opções
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button type="button" mat-menu-item (click)="onAbrirModalEditar()">
                <mat-icon>create</mat-icon>
                <span>Editar grupo</span>
              </button>
              <mat-divider></mat-divider>
              <button type="button" mat-menu-item (click)="onExcluirFeatureGroup()">
                <mat-icon>delete_forever</mat-icon>
                <span>Excluir grupo</span>
              </button>
            </mat-menu>

          </div>

        </div>
      </div>
    
      <div class="col-12 pt-2">
        <div class="row d-flex">
          <div class="col-6">
            <mat-card class="w-100">
              <mat-card-header>
                <mat-card-title>
                  <div class="w-100 d-flex align-items-center">
                    <span>
                      Funcionalidades
                    </span>
                    <button
                      (click)="onAddFeature()"
                      class="ml-2"
                      *ngIf="!!functionalityFeatureGroupToAdd.length && !!selectedFeatureGroup"
                      type="button"
                      mat-raised-button>
                      Adicionar
                      <mat-icon>keyboard_tab</mat-icon>
                    </button>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>Funcionalidades disponíveis</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngIf="!!selectedFeatureGroup; else selectedFeatureVazio">
                  <mat-selection-list
                    [(ngModel)]="functionalityFeatureGroupToAdd"
                    (ngModelChange)="onFeatureGroupToAddChange($event)">
                    <mat-list-option *ngFor="let item of features" [value]="item">
                      {{ item.name }}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-container>

                <ng-template #selectedFeatureVazio>
                  <div class="container">
                    Selecione um grupo
                  </div>
                </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-6">
            <mat-card class="w-100">
              <mat-card-header>
                <mat-card-title>
                  <div class="w-100 d-flex align-items-center">
                    <span>
                      Funcionalidades grupo {{ !!selectedFeatureGroup ? selectedFeatureGroup.name : '' }}
                    </span>
                    <button
                      (click)="onRemoveFeature()"
                      class="ml-2"
                      *ngIf="!!functionalityFeatureGroup.length"
                      type="button"
                      mat-raised-button
                      color="warn">
                      Excluir
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>Funcionalidades incluídas no grupo</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngIf="!!selectedFeatureGroup; else selectedFeatureGroupVazio">
                  <mat-selection-list
                    [(ngModel)]="functionalityFeatureGroup"
                    (ngModelChange)="onFeatureGroupChange($event)">
                    <mat-list-option
                      *ngFor="let item of selectedFeatureGroup.functionalities"
                      [value]="item">
                      {{ item.name }}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-container>
    
                <ng-template #selectedFeatureGroupVazio>
                  <div class="container">
                    Selecione um grupo
                  </div>
                </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
    
      </div>
    </div>
  </div>  
</div>