@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get($mat-deep-purple, 50);
}

button, button[type="button"], input[type="button"] {
  outline:none;
}

.page-title {
  position: relative;
  background-color: map-get($mat-deep-purple, 300);
  color: map-get($mat-deep-purple, 50);

  h3 {
    color: map-get($mat-deep-purple, 100);
  }
}

.page-content {
  background-color: white;
  min-height: 100%;
}

.float-bottom-button {
  position: absolute !important;
  bottom: -28px !important;
  right: 50px !important;
  color: white !important;
}
