<h2 mat-dialog-title>Adicionar grupo de funcionalidades</h2>

<mat-dialog-content>
  <div class="d-flex flex-column" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" name="name" formControlName="name" required/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Descrição" name="description" formControlName="description" required></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    type="button"
    mat-button
    (click)="onClose()">
    Fechar
  </button>

  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onAdicionar()"
    [disabled]="form.invalid">
    Adicionar
  </button>
</mat-dialog-actions>
